---
import BaseLayout from "./BaseLayout.astro";
import Sidemenu from "../modules/Sidemenu.astro";
import Navbar from "../modules/Navbar.astro";

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <Navbar />
    <div class="flex flex-1 min-h-0">
        <!-- Sidebar -->
        <Sidemenu />
        <!-- Main content -->
        <main class="flex-1 overflow-y-auto p-6 max-w-4xl">
            <slot />
        </main>
    </div>
</BaseLayout>
