---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav class="h-14 px-6 flex justify-between items-center relative">
  <div class="flex items-center">
    <!-- @NavbarMobileMenu() -->
    <a href="/" class="flex items-center gap-1.5">
      <span class="text-xl">neokit</span>
    </a>
  </div>
  <div class="flex gap-1 items-center justify-center"><ThemeSwitcher /></div>
</nav>
