---
import AppLayout from "../../layouts/AppLayout.astro";
import Av from "neokit/components/Avatar.astro";
const { title } = Astro.props;
---

<AppLayout title={title}>
    <h1 id="top" class="text-5xl">Avatar</h1>
    <h2 class="text-3xl">TemplUI</h2>
    <fieldset>
        <legend>Fallback</legend>
        <Av><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
    </fieldset>
    <fieldset>
        <legend>Sizes</legend>
        <Av size="xsmall"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="small"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="medium"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="large"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="xlarge"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
    </fieldset>
    <fieldset>
        <legend>With Icon</legend>
        <Av>Primary</Av>
    </fieldset>
    <fieldset>
        <legend>Group</legend>
        <Av>Primary</Av>
    </fieldset>
    <h2 class="text-3xl">DaisyUI</h2>
    <fieldset>
        <legend>Avatar</legend>
        <Av>Primary</Av>
    </fieldset>
    <fieldset>
        <legend>Avatar in custom sizes</legend>
        <Av size="xsmall"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="small"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="medium"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="large"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
        <Av size="xlarge"><img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" /></Av>
    </fieldset>
    <fieldset>
        <legend>Avatar rounded</legend>
        <Av size="large"><img src="https://img.daisyui.com/images/profile/demo/yellingwoman@192.webp" /></Av>
        <Av size="large" round><img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" /></Av>
    </fieldset>
    <fieldset>
        <legend>Avatar with mask</legend>
        <Av size="large" mask="heart"><img src="https://img.daisyui.com/images/profile/demo/distracted3@192.webp" /></Av>
        <Av size="large" mask="squircle"><img src="https://img.daisyui.com/images/profile/demo/distracted1@192.webp" /></Av>
        <Av size="large" mask="hexagon"><img src="https://img.daisyui.com/images/profile/demo/distracted2@192.webp" /></Av>
    </fieldset>
    <fieldset>
        <legend>Avatar group</legend>
        <Av>Primary</Av>
    </fieldset>
    <fieldset>
        <legend>Avatar groupwith counter</legend>
        <Av>Primary</Av>
    </fieldset>
    <fieldset>
        <legend>Avatar with ring</legend>
        <Av ring><img src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" /></Av>
    </fieldset>
    <fieldset>
        <legend>Avatar with presence indicator</legend>
        <Av classes="avatar-online"><img src="https://img.daisyui.com/images/profile/demo/gordon@192.webp" /></Av>
        <Av classes="avatar-offline"><img src="https://img.daisyui.com/images/profile/demo/idiotsandwich@192.webp" /></Av>
    </fieldset>
    <fieldset>
        <legend>Avatar Placeholder</legend>
        <div class="avatar avatar-placeholder">
          <div class="bg-neutral text-neutral-content w-24 rounded-full">
            <span class="text-3xl">D</span>
          </div>
        </div>
        <div class="avatar avatar-online avatar-placeholder">
          <div class="bg-neutral text-neutral-content w-16 rounded-full">
            <span class="text-xl">AI</span>
          </div>
        </div>
        <div class="avatar avatar-placeholder">
          <div class="bg-neutral text-neutral-content w-12 rounded-full">
            <span>SY</span>
          </div>
        </div>
        <div class="avatar avatar-placeholder">
          <div class="bg-neutral text-neutral-content w-8 rounded-full">
            <span class="text-xs">UI</span>
          </div>
        </div>
    </fieldset>
</AppLayout>
