---
import Btn from "neokit/components/Button.astro";
import AppLayout from "../../layouts/AppLayout.astro";
---

<AppLayout>
<h1 id="top" class="text-5xl">Button</h1>
  <h2 class="text-3xl">TemplUI</h2>
  <fieldset>
      <Btn>Button</Btn>
  </fieldset>
  <fieldset>
      <legend>Sizes</legend>
      <Btn size="small">Small</Btn>
      <Btn>Default</Btn>
      <Btn size="large">Large</Btn>
  </fieldset>
  <fieldset>
      <legend>Primary</legend>
      <Btn>Primary</Btn>
  </fieldset>
  <fieldset>
      <legend>Secondary</legend>
      <Btn theme="secondary">Secondary</Btn>
  </fieldset>
  <fieldset>
      <legend>Destructive</legend>
      <Btn theme="error">Destructive</Btn>
  </fieldset>
  <fieldset>
      <legend>Outline</legend>
      <Btn outline>Outline</Btn>
  </fieldset>
  <fieldset>
      <legend>Ghost</legend>
      <Btn ghost>Ghost</Btn>
  </fieldset>
  <fieldset>
      <legend>Link</legend>
      <Btn link>Link</Btn>
  </fieldset>
  <fieldset>
      <legend>Icon</legend>
      <Btn shape="square"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-[1.2em]"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg></Btn>
  </fieldset>
  <fieldset>
      <legend>With Icon</legend>
      <Btn><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-[1.2em]"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg>With Icon</Btn>
  </fieldset>
  <fieldset>
      <legend>Loading</legend>
      <Btn shape="square"><span class="loading loading-spinner"></span></Btn>
      <Btn shape="circle"><span class="loading loading-spinner"></span></Btn>
  </fieldset>

  <h2 class="text-3xl">DaisyUI</h2>
  <fieldset>
    <legend>Button Sizes</legend>
    <div>
        <Btn size="xsmall">XSmall</Btn>
        <Btn size="small">Small</Btn>
        <Btn size="medium">Medium</Btn>
        <Btn size="large">Large</Btn>
        <Btn size="xlarge">XLarge</Btn>
    </div>
  </fieldset>
  <fieldset>
    <legend>Button Colors</legend>
    <div>
        <Btn theme="primary">Primary</Btn>
        <Btn theme="secondary">Secondary</Btn>
        <Btn theme="accent">Accent</Btn>
        <Btn theme="info">Info</Btn>
        <Btn theme="success">Success</Btn>
        <Btn theme="warning">Warning</Btn>
        <Btn theme="error">Error</Btn>
        <Btn theme="neutral">Neutral</Btn>
    </div>
  </fieldset>
  <fieldset>
      <legend>Soft Buttons</legend>
      <Btn theme="primary">Primary</Btn>
      <Btn theme="secondary">Secondary</Btn>
      <Btn theme="accent">Accent</Btn>
      <Btn theme="info">Info</Btn>
      <Btn theme="success">Success</Btn>
      <Btn theme="warning">Warning</Btn>
      <Btn theme="error">Error</Btn>
      <Btn theme="neutral">Neutral</Btn>
  </fieldset>
  <fieldset>
      <legend>Outline Buttons</legend>
      <Btn theme="primary" outline>Primary</Btn>
      <Btn theme="secondary" outline>Secondary</Btn>
      <Btn theme="accent" outline>Accent</Btn>
      <Btn theme="info" outline>Info</Btn>
      <Btn theme="success" outline>Success</Btn>
      <Btn theme="warning" outline>Warning</Btn>
      <Btn theme="error" outline>Error</Btn>
      <Btn theme="neutral" outline>Neutral</Btn>
  </fieldset>
  <fieldset>
      <legend>Dash Buttons</legend>
      <Btn theme="primary" dash>Primary</Btn>
      <Btn theme="secondary" dash>Secondary</Btn>
      <Btn theme="accent" dash>Accent</Btn>
      <Btn theme="info" dash>Info</Btn>
      <Btn theme="success" dash>Success</Btn>
      <Btn theme="warning" dash>Warning</Btn>
      <Btn theme="error" dash>Error</Btn>
      <Btn theme="neutral" dash>Neutral</Btn>
  </fieldset>
  <fieldset>
      <legend>Neutral button with outline or dash style</legend>
      <Btn>Outline</Btn>
      <Btn>Dash</Btn>
  </fieldset>
  <fieldset>
      <legend>Active Buttons</legend>
      <Btn theme="primary" active>Primary</Btn>
      <Btn theme="secondary" active>Secondary</Btn>
      <Btn theme="accent" active>Accent</Btn>
      <Btn theme="info" active>Info</Btn>
      <Btn theme="success" active>Success</Btn>
      <Btn theme="warning" active>Warning</Btn>
      <Btn theme="error" active>Error</Btn>
      <Btn theme="neutral" active>Neutral</Btn>
  </fieldset>
  <fieldset>
      <legend>Buttons ghost and button link</legend>
      <Btn>Ghost</Btn>
      <Btn>Link</Btn>
  </fieldset>
  <fieldset>
      <legend>Wide button</legend>
      <Btn classes="btn-wide">Wide</Btn>
  </fieldset>
  <fieldset>
      <legend>Buttons with any HTML tags</legend>
      <Btn>Link</Btn>
      <Btn>Button</Btn>
      <Btn>Input</Btn>
      <Btn>Submit</Btn>
      <Btn>Radio</Btn>
      <Btn>Checkbox</Btn>
      <Btn>Reset</Btn>
  </fieldset>
  <fieldset>
      <legend>Disables Buttons</legend>
      <Btn disabled>Disabled using attribute</Btn>
      <Btn classes="btn-disabled">Disabled using class name</Btn>
  </fieldset>
  <fieldset>
      <legend>Square button and circle button</legend>
      <Btn shape="square">S</Btn>
      <Btn shape="circle">C</Btn>
  </fieldset>
  <fieldset>
      <legend>Button with Icon</legend>
      <Btn shape="square"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-[1.2em]"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg></Btn>
      <Btn shape="circle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-[1.2em]"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg></Btn>
  </fieldset>
  <fieldset>
      <legend>Button block</legend>
      <Btn classes="btn-block">block</Btn>
  </fieldset>
  <fieldset>
      <legend>Button with loading spinner</legend>
      <Btn shape="square"><span class="loading loading-spinner"></span></Btn>
      <Btn><span class="loading loading-spinner"></span>        loading</Btn>
  </fieldset>
  <fieldset>
      <legend>Login buttons</legend>
      <Btn classes="btn-wide bg-white text-black border-[#e5e5e5]"><svg aria-label="Email icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="black"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></g></svg>
        Login with Email</Btn>
      <Btn classes="btn-wide bg-black text-white border-black"><svg aria-label="GitHub logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"></path></svg>
        Login with GitHub</Btn>
      <Btn classes="btn-wide bg-white text-black border-[#e5e5e5]"><svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m0 0H512V512H0" fill="#fff"></path><path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path><path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path><path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path><path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path></g></svg>
        Login with Google</Btn>
  </fieldset>
</AppLayout>
