%header--defaults {
  display: block;
  font-weight: 800;
}

h1 {
  @extend %header--defaults;
  font-size: 2rem;
  margin-block-start: 0.67rem;
  margin-block-end: 0.67rem;
}

h2 {
  @extend %header--defaults;
  font-size: 1.67rem;
  margin-block-start: 0.8rem;
  margin-block-end: 0.8rem;
}

h3 {
  @extend %header--defaults;
  font-size: 1.39rem;
  margin-block-start: 0.96rem;
  margin-block-end: 0.96rem;
}

h4 {
  @extend %header--defaults;
  font-size: 1.16rem;
  margin-block-start: 1.15rem;
  margin-block-end: 1.15rem;
}

h5 {
  @extend %header--defaults;
  font-size: 0.96rem;
  margin-block-start: 1.38rem;
  margin-block-end: 1.38rem;
}

h6 {
  @extend %header--defaults;
  font-size: 0.8rem;
  margin-block-start: 1.66rem;
  margin-block-end: 1.66rem;
}

p {
  display: block;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  unicode-bidi: isolate;
}

code {
  font-family: "Courier New", Courier, monospace;
}

pre {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  unicode-bidi: isolate;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  border: groove 2px ThreeDFace;
  padding-block-start: 0.35em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  padding-inline-start: 0.75em;
  min-inline-size: min-content;
}

legend {
  padding-inline-start: 2px; padding-inline-end: 2px;
}

legend[align=left i] {
  justify-self: left;
}

legend[align=center i] {
  justify-self: center;
}

legend[align=right i] {
  justify-self: right;
}