$themecolors: (
  primary: hsl(228, 100%, 62%),
  primary-accent: hsl(0, 0%, 95%),
  secondary: #6c757d,
  secondary-accent: hsl(0, 0%, 95%),
  success: rgb(28, 184, 65),
  success-accent: hsl(0, 0%, 95%),
  error: rgb(202, 60, 60),
  error-accent: hsl(0, 0%, 95%),
  warning: rgb(223, 117, 20),
  warning-accent: hsl(0, 0%, 95%),
  info: #64c4ed,
  info-accent: hsl(0, 0%, 95%),
  menu-text: hsl(0, 0%, 95%),
  menu-back: hsl(0, 0%, 25%),
  menu-highlight: hsl(228, 100%, 62%),
  light: hsl(0, 0%, 95%),
  light-accent: hsl(0, 0%, 20%),
  dark: hsl(0, 0%, 20%),
  dark-accent: hsl(0, 0%, 95%),
  grey-light: hsl(0, 0%, 75%),
  grey-dark: hsl(0, 0%, 25%),
  input-back: hsl(0, 0%, 100%),
);

$social: (
  fb: #4f69a2,
  twitter: #69b6f0,
  linkedin: #2884ba,
  pinterest: #d03940,
  dribbble: #ea6294,
);
