---
import { twMerge } from "tailwind-merge";

interface Props {
    color?:
        | "neutral"
        | "primary"
        | "secondary"
        | "accent"
        | "info"
        | "success"
        | "warning"
        | "error";
    variant?: "solid" | "outline" | "soft" | "dash" | "ghost";
    size?: "xs" | "sm" | "md" | "lg" | "xl";
    classes?: string;
}

const {
    color,
    variant = "solid",
    size = "md",
    classes,
} = Astro.props;

const colorClassMap = {
    neutral:   "badge-neutral",
    primary:   "badge-primary",
    secondary: "badge-secondary",
    accent:    "badge-accent",
    info:      "badge-info",
    success:   "badge-success",
    warning:   "badge-warning",
    error:     "badge-error",
} as const;
const colorClass = color ? colorClassMap[color] : "";
const variantClass = {
    solid: "",
    outline: "badge-outline",
    soft: "badge-soft",
    dash: "badge-dash",
    ghost: "badge-ghost",
}[variant];
const sizeClass = {
    xs: "badge-xs",
    sm: "badge-sm",
    md: "",
    lg: "badge-lg",
    xl: "badge-xl",
}[size];

const classList = twMerge("badge", colorClass, variantClass, sizeClass, classes);
---

<span class={classList}><slot /></span>
